# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Python for Mac and Linux (store IDLE settings here)
Library/

lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# LaTeX
*.aux
*.log
*.synctex.gz
*.out
*.toc
*.fdb_latexmk
*.fls

# Mathematica
*.mx
.ace-tool/
